<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules>
            <add name="ManagedEngineV4.0_64bit" preCondition="integratedMode,runtimeVersionv4.0,bitness64" />
            <add name="ManagedEngineV4.0_32bit" preCondition="integratedMode,runtimeVersionv4.0,bitness32" />
        </modules>
    </system.webServer>
</configuration>
